<%- include('_header.ejs') %>

<h1>User Profile</h1>

<div class="row">
    <div class="col-sm-6 rounded card profile">
        <table>
            <tr>
                <td width="40%">
                    <img src="data:image/<%=currentUser.profileImage.contentType%>;base64,
                    <%=currentUser.profileImage.data.toString('base64')%>" width="100%">
                </td>
                 
                <td>
                    <table>
                        <tr>
                            <td><b>
                                <%=currentUser.name.given%>
                                
                                <% if (typeof currentUser.name.middle === 'undefined') { %>
                                    
                                <% } else if (currentUser.name.middle === "") { %> 
                                    
                                <% } else { %> 
                                    <%=currentUser.name.middle%>
                                <% } %>

                                <%=currentUser.name.family%>

                            </b></td>
                        </tr>
                        <tr>
                            <td>
                                <%=currentUser.address.street%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%=currentUser.address.city%>
                                <%=currentUser.address.state%>
                                <%=currentUser.address.postcode%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <% if (typeof currentUser.mobile === 'undefined') { %>
                                    M: [mobile]
                                <% } else if (currentUser.mobile === "") { %> 
                                    M: [mobile]
                                <% } else { %> 
                                    M: <%=currentUser.mobile%>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <% if (typeof currentUser.email === 'undefined') { %>
                                    E: [email]
                                <% } else if (currentUser.email === "") { %> 
                                    E: [email]
                                <% } else { %> 
                                    E: <%=currentUser.email%>
                                <% } %>
                            </td>
                        </tr>
                    </table>
                     
                </td>
            </tr>
        </table>
        
    </div>
    
    <div class="col-sm-3">
        <nav class="nav flex-column">
            <a class="nav-link menu" href="/edit-profile">Edit Profile</a>
            <a class="nav-link menu" href="/delete-profile">Delete Account</a>
        </nav>
    </div>
    <div class="col-sm-3">
        <nav class="nav flex-column">
            <a class="nav-link menu" href="/grasa">Start Grasa</a>
            <a class="nav-link menu" href="/bezier-test">Bezier Test</a>
            <a class="nav-link menu" href="/quad-test">Quad Test</a>
        </nav>
    </div>
</div>

<%- include('_footer.ejs') %>